body{
    margin: 0;
    padding: 0;
    background-color: rgb(213, 212, 212);
}
.header{
    position: sticky;
    top: 0;
    z-index: 2000;
    background-color: rgb(213, 212, 212);
}
#head{
    background-color: rgb(213, 212, 212);
    color: #fff;
    padding: 10px;
    text-align:center;
    position: relative;
}
button{
    background-color: rgb(226, 224, 224);
    color: gray;
    padding: 10px;
    margin: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 25px;
}
button:hover {
    background-color: gray;
    color: black;
    transform: translateY(-5px);
}
#root{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.card{
    width:300px;
    background-color: white;
    margin: 18.5px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px black;
}
.card img{
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.card-content {
    padding: 15px;
}
.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.card-header h3{
    font-size: 26px;
    font-weight: bold;
    margin: 0;
}
.rating{
    background-color: green;
    color: white;
    border-radius: 5px;
    padding: 5px 8px;
    font-size: 15px;

}
.card-footer{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-top: 10px;
}
.card-location{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: rgb(101, 101, 101);
    margin-top: 10px;
}
.card:hover{
    cursor:pointer;
    transform:translateX(-15px) translateY(-30px);
}
#filterPopup{
    position: fixed;
    background-color: rgb(254, 254, 254);
    top: 35%;
    left: 30%;
    padding: 20px;
    border: 2px solid;
    border-radius: 10px;
    font-size: 25px;
    width: 300px;
    box-shadow: 0px 5px 8px rgba(164, 101, 101, 0.5);
    z-index: 2200;

}
#applyfilter{
    background-color: rgb(252, 55, 55);
    color: white;
    transform: translateY(0px);
}
#closeFilter{
    background-color: rgb(252, 55, 55);
    color: white;
    transform: translateY(0px);
}
#closeFilter:active{
    background-color: rgb(122, 36, 36);
}
#applyfilter:active{
    background-color: rgb(122, 36, 36);
}
.filterOption {
    margin: 15px 0;
}
.hidden{
    display: none;
}
.image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img{
    border-radius: 20px;
    width: 1000px;
    height: 450px;
    position: relative;
    z-index: -200;
}
.image h1{
    position: absolute;
    color: rgb(248, 248, 251);
    left: 380px;
    top: 300px;
    font-size: 3rem;
    font-weight: bold;
}
.image h3{
    position: absolute;
    color: rgb(248, 248, 251);
    left: 380px;
    top: 420px;
    font-size: 1.5rem;
}
.image button{
    position: absolute;
    top: 520px;
    left: 370px;
    background-color: rgb(246, 72, 72);
    color: white;
}
.logo{
    display: inline-block;
    position: relative;
    left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    z-index: 2500;
}
.zom{
    height: 100px;
    width: 300px;
    cursor: pointer;
}
#search{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position:absolute;
    top: 50px;
    left: 450px;
    font-size: 1rem;
    width: 500px;
    padding: 10px 10px 10px 30px;
    border-radius: 10px;
    background: url('https://cdn-icons-png.flaticon.com/512/622/622669.png') no-repeat 5px center;
    background-size: 18px;
}
@media (max-width: 650px) {
    .logo{
        display: flex;
        flex-direction:row;
        justify-content: center;
        align-items: center;
        left: 0;
        margin: 5px 0;
        position: static;
        
    
    }
    .zom{
        width: 60%;
        height: auto;
    }
    #search{
        width: 70%;
        position: static;
        margin-top: 10px;
        font-size: 10px;
    }
    #head{
      display: flex;
      gap: 2px;  
    }
    .image{
        margin: 0 3.5px 0 3.5px;
    }
    .img{
        max-width: 100%;
    }
     .image h1 {
        left: 30px;          
        top: 320px;          
        margin: 10px 0;
        text-align: left;               
        font-size: 1.5rem;             
    }
    .image h3 {
        left: 30px;          
        top: 380px;           
        margin: 10px 0;
        text-align: left;               
        font-size: 1.5rem;             
}
    #check{
        left: 30px;       
        top: 500px;         
        margin: 10px 0;
        text-align: left;
        font-size: 1.5rem;
    }
    #root{
        flex-direction: row;
  gap: 2px;
  margin-right: 1px;
  margin-left: 1px;
    }
    .card{
        width: 100%;
        height: auto;
        max-width: 250px;
    }
}